<h1>Employee Details: </h1>
<p>
    <strong>Name: </strong>
    <%= @employee.name %>
</p>

<p>
    <strong>Age: </strong>
    <%= @employee.age %>
</p>

<p>
    <strong>Designation: </strong>
    <%= @employee.designation %>
</p>
<p>
    <%= link_to  "Edit", edit_employee_path(@employee.id) %>
    <%= link_to  "Show All", employees_path %>
</p>